/* Font style */
.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font-style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Navigation Style */
nav button a{
    text-decoration: none;
    color: white;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

/* Logo design */
.logo{
    color: #4E47FF;
    font-size: 34px;
}
/* Sign UP button decoration */
.signup{
 background-color:#4E47FF;
 height: 48px;
 width: 132px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 font-weight: bold;
 padding: 12px 36px;
}

/* banner decoration */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 159px 210px 152px 210px;
}
.banner-title{
    height: 150px;
    width: 902px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/* stay-focused Button decoration */
.stay-focused{
 background-color:#4E47FF;
 border: none;
 border-radius: 5px;
 padding: 12px 36px;
 margin-top: 25px;
 
}

.text-deco{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 12px 36px;
    height: 34px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}
.hadder{
    background-image: url('../Assets/Hero-bg.png');
    height: 770px;
    width: 1435px;
}
/* Action Decoration */
.action-title{
    font-size: 45px;
    font-weight: bold;
    height: 49px;
    width: 517px;
}
.action-paragraph{
    font-size: 24px;
    font-weight: 400;
    height: 60px;
    width: 517px;
    color: #25243289;
}
.action-buttons{
    height: 48px;
    width: 229;
    border: none;
    border-radius: 5px;
    background-color: #4E47FF;
}
.action-a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    width: 157px;
    padding: 12px 36px;
}
.action-all{
    display: flex;
    justify-content:space-around;
    margin: 116px 160px 0px 141px;
}
.action-image{
    border: none;
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
/* Designed productive users section */
.productive-users-title{
    height: 45px;
    width: 856px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin: 0px 142px 0 142px;
}
.blue{
    height: 97px;
    width: 174px;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}
.small-black{
    height: 24px;
    width: 160px;
    font-size: 20px;
    color: #0000007f;
    margin:0 ;
}
.flex-all{
    display: flex;
    margin: 0 142px 50px 142px;
    justify-content: space-between;
}
.productive-users{
    display: flex;
    flex-direction: column;
    background-color: #4d47ff34;
    height: 306px;
    width: 1030px;
    border: none;
    border-radius: 24px;
    margin: 116px 140px 0 190px;
}
.margin-all{
    margin-top: 50px;
}
/* Form Design */
.form-title{
    font-size: 77px;
    font-weight: bold;
    height: 232px;
    width: 528px;
    color: #000000;
}
.label{
    font-size:18px;
    height: 22px;
    width: 445px;
    color: #000000;
    gap: 10px;

}
.input{
    height: 40px;
    width: 445px;
    border-radius: 5px;
    padding: 9px;
    border: none;
}
.text-input{
    height: 85px;
    width: 445px;
    border-radius: 5px;
    padding: 9px;
    border: none;
}
.form-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

}
.get-in-touch{
    height: 62px;
    width: 468px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    
}
.form-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 92px 180px 0px 185px;
}
/* Let's design Footer Section */
.logo-footer{
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
    color: #4E47FF;
}
.paragraph-footer{
    height: 48px;
    width: 539px;
    color: #8987A1;
    font-size: 20px;
    text-align: center;
    margin: auto;
}   
.button-footer{
    display: flex;
    justify-content: space-around;
    margin: 40px 435px 0px 410px;
}
footer ul li {
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #8987A1;
}
.footer-all{
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    padding: 100px ;
}
/* Now let's get make optional section */
.optional-title{
    height: 50px;
    width: 516px;
    font-size: 50px;
    font-weight: bold;
    margin: 71px 312px 20px 312px;
}
.optional-paragraph{
    height: 22px;
    width: 487px;
    font-size: 18px;
    color: #00000084;
    margin: 0px 326px 20px 326px;
}
.optional-button{
    background-color: #4E47FF;
    height: 42px;
    width: 187px;
    border: none;
    border-radius: 10px;
    margin: 0px 470px 20px 470px;
}
.optional-a{
    text-decoration: none;
    color: white;
    font-size: 15px;  
}
.optional-img{
    border-radius: 48px;
    height: 364px;
    width: 840px;
    margin: 20px 150px 0px 150px ;

}
.optional{
   background-color: white; 
   height: 700px;
   width: 1100px;
   border: 2px solid rgba(0, 0, 0, 0.468);
   border-radius: 14px;
   margin: 200px 150px 0px 150px;
}
/* Let's make review section */
.review-titel{
    font-size: 42px;
    font-weight: bold;
    height: 49px;
    width: 1140px;
    margin:136px 550px 50px 500px
}
.star-icon{
    display: inline;
}
.card-titel{
    height: 29px;
    width: 255px;
}
.card-paragraph{
    height: 44px;
    width: 318px;
}
.avater{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 40px;
}
.name-avater-add{
    display: flex;
}
.name-date-add{
    margin: 0px 0px 0px 10px;
}
.card{
    background-color: white;
    border: 3px solid #f6d5d5;
    border-radius: 24px;
    height: 213px;
    width: 327px;
    padding: 24px;
}
.card-section{
    display: flex;
    gap: 20px;
    margin: 0px 100px 0px 100px ;
}
/* let's play with buttons */
.signup:hover{
    cursor: pointer;
    font-size:larger;
    background-color: coral;
    
}
.stay-focused:hover{
    cursor: pointer;
    font-size:larger;
    background-color: coral;
}
.action-buttons:hover{
    cursor: pointer;
    font-size:25px;
    background-color: coral;
}
.optional-button:hover{
    cursor: pointer;
    font-size:larger;
    background-color: coral;
}
.get-in-touch:hover{
    cursor: pointer;
    font-size:larger;
    background-color: coral;
}
footer li:hover{
    cursor: pointer;
    font-size:larger;
}
/* Let's Play with cards */
.card:hover{
    background-color: #f8c3c3;
    width: 350px;
}