/* Font style */
.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font-style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Navigation Style */
nav button a{
    text-decoration: none;
    color: white;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

/* Logo design */
.logo{
    color: #4E47FF;
    font-size: 34px;
}
/* Sign UP button decoration */
.signup{
 background-color:#4E47FF;
 height: 48px;
 width: 132px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 font-weight: bold;
 padding: 12px 36px;
}

/* banner decoration */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 159px 210px 152px 210px;
}
.banner-title{
    height: 150px;
    width: 902px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/* stay-focused Button decoration */
.stay-focused{
 background-color:#4E47FF;
 border: none;
 border-radius: 5px;
 padding: 12px 36px;
 margin-top: 25px;
 
}

.text-deco{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 12px 36px;
    height: 34px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}
.hadder{
    background-image: url('../Assets/Hero-bg.png');
    height: 770px;
    width: 1435px;
}
/* Action Decoration */
.action-title{
    font-size: 45px;
    font-weight: bold;
    height: 49px;
    width: 517px;
}
.action-paragraph{
    font-size: 24px;
    font-weight: 400;
    height: 60px;
    width: 517px;
    color: #25243289;
}
.action-buttons{
    height: 48px;
    width: 229;
    border: none;
    border-radius: 5px;
    background-color: #4E47FF;
}
.action-a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    width: 157px;
    padding: 12px 36px;
}
.action-all{
    display: flex;
    justify-content:space-around;
    margin: 116px 160px 0px 141px;
}
.action-image{
    border: none;
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
/* Designed productive users section */
.productive-users-title{
    height: 45px;
    width: 856px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin: 0px 142px 0 142px;
}
.blue{
    height: 97px;
    width: 174px;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}
.small-black{
    height: 24px;
    width: 160px;
    font-size: 20px;
    color: #0000007f;
    margin:0 ;
}
.flex-all{
    display: flex;
    margin: 0 142px 50px 142px;
    justify-content: space-between;
}
.productive-users{
    display: flex;
    flex-direction: column;
    background-color: #4d47ff34;
    height: 306px;
    width: 1030px;
    border: none;
    border-radius: 24px;
    margin: 116px 140px 0 190px;
}
.one{
    margin-top: 50px;
}